In [70]:
import pandas as pd
import math

In [64]:
counts = pd.read_csv('globalmalariabyYear.csv')

In [65]:
counts.head()

,Unnamed: 0,Code,Country.x,WHO_region,year,Estimated_Malaria_Counts
0,1,AFG,Afghanistan,Eastern Mediterranean,2000,1500000.0
1,2,AGO,Angola,African,2000,4800000.0
2,3,ARG,Argentina,Region of the Americas,2000,240.0
3,4,AZE,Azerbaijan,European,2000,1700.0
4,5,BDI,Burundi,African,2000,2800000.0

In [44]:
year_2000 = counts[counts['year'] == 2000]
year_2015 = counts[counts['year'] == 2015]

In [60]:
year_2000_grouped = year_2000.groupby(by='WHO_region', as_index=False)['Estimated_Malaria_Counts'].sum()
year_2015_grouped = year_2015.groupby(by='WHO_region', as_index=False)['Estimated_Malaria_Counts'].sum()

In [61]:
year_2015_grouped['2000'] = year_2000_grouped['Estimated_Malaria_Counts']

In [75]:
year_2015_grouped['percentchange'] = -(year_2015_grouped['Estimated_Malaria_Counts'] - year_2015_grouped['2000'])/year_2015_grouped['2000']

In [76]:
year_2015_grouped['percentchange'] = year_2015_grouped['percentchange'].apply(lambda x: round(x, 2))

In [78]:
year_2015_grouped.to_csv('percent_change_2000_2015.csv')

In [77]:
year_2015_grouped.head()

,WHO_region,Estimated_Malaria_Counts,2000,percentchange
0,African,191386320.0,213468390.0,0.10
1,Eastern Mediterranean,3805871.0,9117200.0,0.58
2,European,1.0,35110.0,1.00
3,Region of the Americas,763580.0,2419260.0,0.68
4,South-East Asia,14632270.0,33206700.0,0.56